@using WeatherWebApp.Models
@model WeatherInfo.WeatherContainer
@{
    
}

<div class="jumbotron">

    <ul class="list-group">
        <div class="row">
            <div class="col-md-4">
                <b>WeatherWebApp</b>
            </div>
            <div class="col-md-6">

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default " onclick="location.href = '@Url.Action("ShowSomeDayWeather",
                                                                                                          "Home",
                                                                                                          new {Count = 1, City = @Model.City.Name})'">
                        1 Day
                    </button>
                    <button type="button" class="btn btn-default " onclick="location.href = '@Url.Action("ShowSomeDayWeather",
                                                                                                          "Home",
                                                                                                          new {Count = 3, City = @Model.City.Name})'">
                        3 Day
                    </button>
                    <button type="button" class="btn btn-default " onclick="location.href = '@Url.Action("ShowSomeDayWeather",
                                                                                                          "Home",
                                                                                                          new {Count = 7, City = @Model.City.Name})'">
                        7 Day
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="container-fluid">

                        @using (Html.BeginForm("SearchCityWeather", "Home", FormMethod.Post, new { Class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.CityName, new { Class = "form-control input-lg", placeholder = "Enter city name" })
                                    @Html.ValidationMessageFor(m => m.CityName)
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" class="btn btn-default btn-lg btn-block" value="Search">
                                </div>
                            </div>
                        }

                        <div class="btn-group" role="group">
                            @foreach (var city in ViewBag.ListFavoriteCities)
                            {
                                <button type="button" class="btn btn-default btn-block" onclick="location.href = '@Url.Action("ShowSomeDayWeather",
                                                                                                                  "Home",
                                                                                                                  new {Count = 1,City = @city.Name})'">
                                   @city.Name
                                </button>
                            }
                            @if (Request.IsAuthenticated)
                            {
                                <button type="button" class="btn btn-default btn-block" onclick="location.href = '@Url.Action("ShowUserCities",
                                                                                                "Cities")'">
                                    Edit Favorite Cities
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                @foreach (var list in @Model.AllDaysWeatherList)
                {

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <b>@Model.City.Name</b>
                                @list.Date().ToString("d.M dddd")
                            </div>
                            <div class="col-md-1">
                                <img src=@list.Weather[0].IconLink()>
                            </div>
                            <div class="col-md-2">
                                @list.Weather[0].Description
                            </div>

                            <div class="col-md-2">
                                <img src="@Url.Content("~/Content/Images/humidity.png")" /> @list.Humidity% Humidity
                            </div>
                            <div class="col-md-2">
                                <img src="@Url.Content("~/Content/Images/pressure.png")" /> @list.PressureBar() mmHg
                            </div>
                            <div class="col-md-1">
                                @list.WindSpeed m/s    <img src="@Url.Content("~/Content/Images/arrow.png")" style="transform: rotate(@(list.WindDeg)deg)" />
                            </div>
                            <div class="col-md-1">
                                <img src="@Url.Content("~/Content/Images/temperature.png")" />
                            </div>

                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                Morning
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                @list.Temperature.Morn °C
                            </div>
                        </div>
                    </li>


                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                Day
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                @list.Temperature.Day °C
                            </div>
                        </div>
                    </li>


                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                Evening
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                @list.Temperature.Eve °C
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                Night
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                @list.Temperature.Night °C
                            </div>
                        </div>
                    </li>

                }
            </div>

        </div>

    </ul>
</div>